.title {
  font-family: 'Allura', sans-serif;
  font-size: 34px;
  color: #0a3d62 !important;
  text-align: center;
}

.para {
  position: static !important;
  text-align: center;
  font-family: 'Allura', sans-serif;
  font-size: 24px;
  margin: 0 !important;
}

.header {
  margin-top: 20px;
  margin-bottom: 10px;
}

@media only screen and (min-device-width: 768px) and (max-device-height: 1200px) {
  .title {
    font-size: 50px;
  }

  .para {
    font-size: 34px;
  }
}

@media only screen and (min-device-width: 1201px) {
  .title {
    font-size: 50px;
  }

  .para {
    font-size: 34px;
  }
}